*,*::before,*::after {padding: 0;margin: 0;border: 0;box-sizing: border-box;}

/* * {
    outline: 1px solid red;
    }
 */
:root {
    --vine: #FCFCEE;
    --dark-blue: #202630;
    --black: #1E1E1E;
}

html, body {
    max-width: 100%; 
    overflow-x: hidden; 
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--vine);
    color: var(--dark-blue);
    /* overflow-x: hidden; */
}

.container {
    max-width: 500px;
    margin: 0 auto;
/*     outline: 1px solid var(--dark-blue); */
}

.scroll {
    position: fixed;
    top: 60%;
    right: -55px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: var(--black);
    transform: rotate(-90deg);
    z-index: 10;
}

.scroll::before {
    content: '←';
    letter-spacing: 15px;
}

h2 {
    font-size: 38px;
    font-weight: normal;
    padding: 0 40px;
    width: min-content;
}

.p-t-60 {
    margin-top: 60px;
}

.p-t-180 {
    margin-top: 180px;
}

.img-el {
    position: relative;
    padding-bottom: 60px;
    width: 360px;
    height: 500px;
} 

.h-el {
    position: relative;
    padding-bottom: 60px;
    max-width: 350px;
}

.h-el h2 {
    color: var(--vine);
    z-index: 2;
    position: relative;
    top: 140px;
}

.img-el svg,  .h-el svg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.img-el img {
    
    z-index: 2;
    position: absolute;
    top: 30px;
    left: 0;
    width: 470px;
    -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzcwIiBoZWlnaHQ9IjMxNSIgdmlld0JveD0iMCAwIDM4MCAzMTUiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICAgICAgICAgIDxlbGxpcHNlIGN4PSIxODAuNDc0IiBjeT0iMTU3LjU0MSIgcng9IjEzNC4xNTQiIHJ5PSIxOTcuNjQzIiB0cmFuc2Zvcm09InJvdGF0ZSg1Ni4xMTk3IDE4MC40NzQgMTU3LjU0MSkiIGZpbGw9IiMwMDAiLz4KPC9zdmc+Cg==");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
}

.jc-sb {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
   
}

h3:nth-of-type(2) {
    flex-shrink: 10;
    text-align: right;
} 
h3 {
    font-size: 20px;
    padding-top: 100px;
    font-weight: bold;
    width: fit-content;
}

.adress {
    padding: 0px 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    width: fit-content;
}

.adress:before {
    content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAxNiAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTguMDAwMDggMEMzLjU4OTA4IDAgOC4xNDQ0NmUtMDUgMy41Mjk4OSA4LjE0NDQ2ZS0wNSA3Ljg2MzMyQy0wLjAyODkxODYgMTQuMjAyMiA3LjY5NjA4IDE5LjQ1ODIgOC4wMDAwOCAxOS42NzA2QzguMDAwMDggMTkuNjcwNiAxNi4wMjkxIDE0LjIwMjIgMTYuMDAwMSA3Ljg2ODI0QzE2LjAwMDEgMy41Mjk4OSAxMi40MTExIDAgOC4wMDAwOCAwWk04LjAwMDA4IDExLjgwMjRDNS43OTAwOCAxMS44MDI0IDQuMDAwMDggMTAuMDQxOCA0LjAwMDA4IDcuODY4MjRDNC4wMDAwOCA1LjY5NDY0IDUuNzkwMDggMy45MzQxMiA4LjAwMDA4IDMuOTM0MTJDMTAuMjEwMSAzLjkzNDEyIDEyLjAwMDEgNS42OTQ2NCAxMi4wMDAxIDcuODY4MjRDMTIuMDAwMSAxMC4wNDE4IDEwLjIxMDEgMTEuODAyNCA4LjAwMDA4IDExLjgwMjRaIiBmaWxsPSIjMjAyNjMwIi8+Cjwvc3ZnPgo=);
}

.map {
    width: 320px;
    height: 360px;
    margin: 50px auto 0;
    border: 1px solid var(--dark-blue);
}

.row {
    display: flex;
    padding: 0 15px;
    row-gap: 30px;
    flex-flow: row wrap;
    justify-content: space-between;
}

h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 14px;
}

ul li {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 209.4%;
    color: var(--black);
    list-style: none;
}
/* 
.swiper {
    margin-left: 15px;
} */

.swiper-wrapper {
    display: flex;
    align-items: center;
    margin-top: 297px;
    height: 373px;
}

.swiper-slide img{
    width: 200px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    transition: 0.7s;
}

.swiper-slide-active {
    position: relative;
    z-index: 5;
    left: -20px;
}

.swiper-slide-active img {
 transform: scale(1.5);
 overflow: visible;
/*  filter: drop-shadow(7px 7px 15px rgba(0, 0, 0, 0.15)); */
}

.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: var(--dark-blue);
    opacity: 1;
    transition: all 0.3s;
}

.swiper-pagination-bullet-active {
    width: 45px;
    height: 15px;
    border-radius: 12px;
}