*,*::before,*::after {padding: 0;margin: 0;border: 0;box-sizing: border-box;}

/* * {
    outline: 1px solid red;
    }
 */
:root {
    --vine: #FCFCEE;
    --dark-blue: #202630;
    --black: #1E1E1E;
}

html, body {
    max-width: 100%; 
    overflow-x: hidden; 
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--vine);
    color: var(--dark-blue);
    /* overflow-x: hidden; */
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

h2 {
    font-size: 38px;
    font-weight: normal;
    padding: 0 40px;
    width: min-content;
}

.p-t-60 {
    margin-top: 60px;
}

.p-t-180 {
    margin-top: 180px;
}

.img-el {
    position: relative;
    padding-bottom: 60px;
    max-width: 360px;
    overflow-x: hidden;
} 

.h-el {
    position: relative;
    padding-bottom: 60px;
    max-width: 350px;
}

.h-el h2 {
    color: var(--vine);
    z-index: 2;
    position: relative;
    top: 120px;
}

.img-el svg,  .h-el svg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.img-el img {
    top: 30px;
    z-index: 2;
    position: relative;
    max-width: 472px;
    -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzcwIiBoZWlnaHQ9IjMxNSIgdmlld0JveD0iMCAwIDM4MCAzMTUiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICAgICAgICAgIDxlbGxpcHNlIGN4PSIxODAuNDc0IiBjeT0iMTU3LjU0MSIgcng9IjEzNC4xNTQiIHJ5PSIxOTcuNjQzIiB0cmFuc2Zvcm09InJvdGF0ZSg1Ni4xMTk3IDE4MC40NzQgMTU3LjU0MSkiIGZpbGw9IiMwMDAiLz4KPC9zdmc+Cg==");
}